README-splunk.txt
bin/
lib/
var/
copyright.txt
etc/apps/SplunkUniversalForwarder/
etc/apps/introspection_generator_addon/
etc/apps/journald_input/
etc/apps/learned/
etc/apps/search/
etc/apps/splunk_httpinput/
etc/apps/splunk_internal_metrics/
etc/copyright.txt
etc/datetime.xml
etc/deployment-apps/
etc/disabled-apps/
etc/init.d/
etc/licenses/
etc/modules/
etc/myinstall/
etc/passwd
etc/prettyprint.xsl
etc/shcluster/
etc/splunk-launch.conf
etc/splunk-launch.conf.default
etc/splunk.version
etc/instance.cfg
etc/log.cfg
etc/login-info.cfg
etc/log-btool-debug.cfg
etc/log-btool.cfg
etc/log-cmdline-debug.cfg
etc/log-cmdline.cfg
etc/log-debug.cfg
etc/log-dfs-search.cfg
etc/log-dfs.cfg
etc/log-utility.cfg
etc/log.cfg
etc/login-info.cfg
etc/system/
etc/users/
etc/auth/
include/
license-eula.txt
openssl/
share/
splunkforwarder-8.1.3-63079c59e632-Linux-arm-manifest
swidtag/
